sup, sub{
	font-style: italic;
	font-size: $mds-1-a;
}

blockquote, .blockquote{
	margin:$mds-1 $mds-1-1;
	padding:0 $mds-1;
	border-left:4px solid $brand-1;
	cite, .cite{
		display:block;
		&::before{
			content:"- ";
		}
	}
}

code{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	padding:1em;
	background:$grey-1;
}