//Theme Colors
$brand-1:        	#9D3834 !default;
$brand-2:        	#006D8F !default;

$grey-1:			rgb(220,220,220) !default;

//Text Colors
$content-color: 	rgb(20,20,20) !default; 
$content-light:		rgb(240,240,240) !default; 

//UI Element Colors
$btn-color:     	$brand-1 !default;
$btn-text:			$content-light !default;
$link-color:    	$brand-1 !default;
$link-hover:    	darken($link-color, 15%) !default;
$link-visited:  	lighten($link-color, 15%) !default;

//Base Typography Variables
$base-font:        	"helvetica", "arial", sans-serif !default;
$header-font:      	$base-font!default;
$base-line-height: 	1.7 !default;

//Modular Scale Variables
$base-1: 		1.8rem !default;
$base-2: 		$base-1 !default;

$ratio-1: 		1.618 !default; //Golden Mean
$ratio-2: 		1.5 !default; //Major Third

//Grid Variables
$content-max:	1280px !default;

$palm-end:  	499px !default;
$tablet-end:	849px !default;